<!-- extend base layout -->
{% extends "baser.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
          
  <h1>Hi {{name}} </h1>
    <div class="row">     <div class='col-sm-2'></div>
         <div class='col-sm-8'><div class="well">
        
  <form method=post >   
    {{ form.hidden_tag() }}
  {{request_to_edit.jobTitle}} <p>{{ wtf.form_field(form.note) }}</p> 
  <p>{{ wtf.form_field(form.submit) }}</p> </form>
   </div>
   <div class="row">     </div></div></div>    
{% endblock %}