{% extends "baseindex.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>

<html lang="en">

          {% block content %}



{% for item in zipit %} 
      <!-- Main jumbotron for a primary marketing message or call to action -->
       
           <div class="jumbotron">
            <div class="container">
        <h1>{{item[0].name}}</h1>
       
       
        <br>total tasks {{item[1][3]}}<br>complete tasks {{item[1][1]}} 
        <br>{{item[1][2]}} or {% if item[1][3] ==0 or item[1][1] ==0 %} 0% {% else %} {{'%0.1f'| format((item[1][1] / item[1][3])*100|float)}}% {%endif%} of {{item[1][3]}} total tasks completed by deadline <br>
        {% if item[1][2] ==0 or item[1][1] ==0 %} 0% {% else %} {{'%0.1f'| format((item[1][2]/item[1][1])*100|float)}}% {%endif%} of complete Tasks where completed by the deadline.
    </div></div>

{%endfor%}</div></div>
          {% endblock %}
        </div>
        <hr>


  </body>
</html>



<!-- /.col-sm-4 -->
