{% extends "baseindex.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>

<html lang="en">


          {% block content %}
          <ol class="breadcrumb">
                      <li><a href="/start">All Projects</a></li>
  <li><a href="{{ url_for('project_outline', name = project.name) }}">Goals</a></li>
    <li><a href="{{ url_for('strategy_outline', name = project.name, goal=pgoal.goal) }}">Strategies</a></li>
  <li class="active">Tasks</li>
</ol></div>

<div class="well">
      <div class="row">
        <div class="col-md-12 offset2">
       <p> <h1>Project: {{ project.name }}</h1>
             <div class="row">
        <div class="col-md-12 offset2">
       <p><h2>  Goal: {{ pgoal.goal }}</h2></p>
             <div class="row">
        <div class="col-md-12 offset2">
       <p><h2>    Strategy: {{ pstrat.strategy }}</h2></p>
      </div></p></div></div></div></p></div></div></div>

 {% for ptask in T %}

         <div class="container">
             <div class="row">
        <div class="col-md-12 offset2">
</div></div>

      <!-- Example row of columns -->

      <div class="row">
        <div class="col-md-9">
        <p> <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> {% if ptask.complete ==True %}  <i class="glyphicon glyphicon-ok"> <b> Task: </b>   {{ ptask.task }}</h3></i> completed {{ptask.completeDate}} {% else %}<b> <i class="glyphicon glyphicon-record"> Task: </b></i>   {{ ptask.task }}</h3> {% endif %}</b></h3><a href="{{ url_for('edit_task', name = project.name,goal=pgoal.goal,strategy=pstrat.strategy,task=ptask.task) }}" class="btn pull-right"><span class="glyphicon glyphicon-pencil"></span> edit </a>
           </div></p>
<div class="row">

    <div class="col-md-2">

        <b>staff</b> {{ptask.staff}}

    </div>
    <div class="col-md-2">

        <b> Deadline </b>{{ptask.deadline}}

    </div>
    <div class="col-md-2">

        <b> Complete</b> {% if ptask.complete ==True %}  <span class="glyphicon glyphicon-ok"></span> {% else %} <span class="glyphicon glyphicon-thumbs-down"> {% endif %}

    </div>
    </div>
    <div class="row">

    <div class="col-md-12">

        <b> Note</b> {{ptask.note}}

    </div>

</div></div></p></div></div></div>
</div>

        

    {% endfor %}
    </div>
    <div class="container">
<div class="page-header">
        <div class="col-md-9 offset2">
         <b> <p> New Task for {{ pgoal.goal }}</p>
  <form class="form form-horizontal" method="post" role="tform">
{{tform.hidden_tag}}
 {{ wtf.form_errors(tform,hiddens="only") }}

 {{wtf.form_field(tform.tasks)}}
  {{wtf.form_field(tform.staff)}}
   {{wtf.form_field(tform.complete)}}
    {{wtf.form_field(tform.deadline)}}
     {{wtf.form_field(tform.tasks)}}
     <br>
          </div></p></div></div>
</form><br></b></div></div></div></div>
          {% endblock %}

          