<!-- extend base layout -->
{% extends "baser.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
    <div class="row ">
    <div class="span2">  </div>  <div class="span5">
<!--     {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->
<div class="alert alert-warning" role="alert">
  <h1>Hi {{name}} </h1></div>
</div></div>

</div></div>

        
         <div class="row ">

     <div class="span2">  </div> 
    <div class="span10">
         <div class="well">
<form method=post >   

     {{ form.hidden_tag() }}
        <h3>Have you verified your request is not in an existing dashboard?</h3> <h4>If not click <a href="http://covecontext/RunDashboard.i4?dashUUID=2e74cf96-b33b-4a7a-b53f-4310ce259dc6&primaryOrg=1&clientOrg=1">
 here </a> for Context! Table of Contents.</h4>
<p>{{ wtf.form_field(form.emanio) }}</p> 
   <div class="row ">
    <div class="span8">
<h3>How do you want to refer to this request?</h3>
<p>{{ wtf.form_field(form.jobTitle) }}</p>    

<h4>{{ form.priority.label }}</h4>
<p>{{ wtf.form_field(form.priority) }}</p> 

<!-- <h3>Is this MHS or SUD Services related?</h3>
<p>{{ wtf.form_field(form.MHorSUD) }}</p> <br> -->
<input type='hidden' id="MHorSUD" name="MHorSUD" value="MHS"   >
   <div class="row ">
    <div class="span3">
                 <label>           When would you like to recieve this by?

                        </label>
<input data-provide="datepicker" data-date-format="mm/dd/yyyy" id="deadlinedate"  type="text" value="{{ form.deadlinedate.data }}" name="deadlinedate" ></input>  
</div><div class="span1.5">{{ wtf.form_field(form.deadlinetime) }}</div>
<div class="span4.5">{{ wtf.form_field(form.deadlineWhy) }}</div>
  <div class="row ">
    <div class="span8">
<br>
<!-- <h3>{{ form.audience.label }}</h3> -->
<p>{{ wtf.form_field(form.audience) }}</p> 

<!-- <h3>Describe what you want to investigate.</h3> -->
<p>{{ wtf.form_field(form.longDescription) }}</p> 

<!-- <h3>{{ form.keyQuestions.label }}</h3> -->
<p>{{ wtf.form_field(form.keyQuestions) }}</p> 

<!-- <h3>{{ form.problem.label }}</h3> -->
<!-- <p>{{ wtf.form_field(form.problem) }}</p>  -->


<!-- long form only -->

<h4>What are all the data points you want?</h4>
<p>{{ wtf.form_field(form.columnsRequired) }}</p> 

<!-- <h3>{{ form.agency.label }}</h3> -->
<!-- <p>{{ wtf.form_field(form.agency) }}</p> 

<strong>For what Programs?</strong>
<p>{{ wtf.form_field(form.ru) }}</p> 
 -->


<!-- <h3>{{ form.requestedBy.label }}</h3> -->
<!-- <p>{{ wtf.form_field(form.requestedBy) }}</p> 
 -->
<!-- <h3>{{ form.timeframe.label }}</h3> -->
<p>{{ wtf.form_field(form.timeframe) }}</p> 
 <div class="row ">
    <div class="span4">
                 <label>           Time frame Start

                        </label>
<input data-provide="datepicker" data-date-format="mm/dd/yyyy" id="timeframestart"  type="text" value="{{ form.timeframestart.data }}" name="timeframestart" ></input>  </div><div class="span2.5"></div>
                 <label>           Time frame End

                        </label>
<input data-provide="datepicker" data-date-format="mm/dd/yyyy" id="timeframeend"  type="text" value="{{ form.timeframeend.data }}" name="timeframeend" ></input>  </div><div class="span1.5"></div></div></div><br>
  <div class="row ">
    <div class="span8">
<strong>What's the smallest increment of time you want to see the data. E.g., month, quarterly, or annually..</strong>
<p>{{ wtf.form_field(form.timeBreakdown) }}</p> 

<!-- <h3>{{ form.specialPop.label }}</h3> -->
<!-- <p>{{ wtf.form_field(form.specialPop) }}</p> 
 -->
<!-- <h3>{{ form.typeOfService.label }}</h3> -->
<!-- <p>{{ wtf.form_field(form.typeOfService) }}</p>  -->
<!-- <h3>{{ form.specialInstructions.label }}</h3> -->
<p>{{ wtf.form_field(form.specialInstructions) }}</p> 
<!-- <h3>{{ form.specialFacts.label }}</h3> -->
<!-- <p>{{ wtf.form_field(form.specialFacts) }}</p>  -->

<p>{{ wtf.form_field(form.submit) }}</p>


</form>
  <!-- {{ wtf.quick_form(form) }} -->
 
      </span>
  </div>
</div>  </div>
</div>  </div>
</div> </div>
</div>  </div>
</div>
{% endblock %}

