{% extends "baseindex.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
  {% block head %}
    <title>AC Forms!{% block title %}{% endblock %}</title>
      <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datepicker.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datepicker3.css') }}">
          <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>


<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-modal.css') }}">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">




    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}"> -->
    {% endblock %}
  <body>
    {% block navbar %}
 
          {% endblock %}


          {% block content %}

      <div class="jumbotron">
            <div class="container">
        <h1>Business Analytics Data Portal</h1>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">How To Upload a File</h3>
      </div>
      <hr/>
      <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
         <label class="control-label" for="sender">
                           Your name and Affiliation
                        </label>
        <input type="sender" name="sender"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>
    </div>

  {% for message in get_flashed_messages() %}
                       <span style="color: red;">[{{ message }}]</span>
{% endfor %}

      </div>
    </div>

 
  
      </form>
      </div>
    </div>
  </body>
</html>

         {% endblock %}


